body{
    font-family: sans-serif;
}
header div{
    text-align: center;
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.theme-a {
  background: #cab385;
  color: #442c14;
}
@media (prefers-color-scheme: dark) {
  .theme-a.adaptive {
    background: #442c14;
    color: #cab385;
    outline: 5px dashed black;
  }
}
.theme-b {
  background: #444477;
  color: #bbbbdd;
}
@media (prefers-color-scheme: light) {
  .theme-b.adaptive {
    background: #bbccdd;
    color: #333344;
    outline: 5px dotted black;
  }
}
h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
} 
footer p{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer form{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
div p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.mainItems {
  display: grid;
  grid-template-columns: auto auto auto;
}