body{
    background-color: khaki;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
} 
footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
}
div p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
