body{
    background-color: khaki;
}
h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
} 
footer p {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
div p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.mainItems {
  display: grid;
  grid-template-columns: auto auto auto;
}